.{{html_class}},
.{{html_class}}:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: {{z_index}};
}
{{mask_image}}
ol.{{html_class}}, ul.{{html_class}} {
    list-style: none;
}
.{{html_class}} li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: {{z_index}};
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.{{html_class}} li div {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    opacity: 0;
    /* Setup a dark background with a moderate alpha-transparancy */
    background-color: rgba(13,13,13,0.4);
    /* Setup a high contrast text colour */
    color: #fff;
    text-shadow: 0 0 8px #00c6ff;
    /* Align and transform text as required: default to uppercase, centered */
    text-align: center;
    text-transform: uppercase;
}
.{{html_class}} li div h3 {
    padding: 0;
    font-size: 140px;
    line-height: 110%;
    /* Setup with a narrow sans-serif font by default. You'll need to edit out or pre-load any webfonts
       prior to rendering this css. BebasNeueRegular is a good fit for this application and is free to download from
       font squirrel (http://www.fontsquirrel.com/fonts/bebas-neue). */
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}
/* Show something if animations not supported by browser */
.no-cssanimations .{{html_class}} li span {
    opacity: 1;
}

@media screen and (max-width: 1140px) {
    .{{html_class}} li div h3 { font-size: 100px }
}
@media screen and (max-width: 600px) {
    .{{html_class}} li div h3 { font-size: 80px }
}
